# {{ ansible_managed }}
# The repositories normally managed in this file are managed by the
# aspects_packages role. It places .list files for each repo in
# /etc/apt/sources.list.d.
# See /usr/share/doc/apt/examples/sources.list for the default values
